**/__pycache__/
.idea/
*.egg-info
*.pot
*.py[co]
.tox/
*.swp
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
tests/report/
.directory
*.less
*.log
**/.sass-cache/
**/CACHE/
**/media

.vscode/

**/migrations/00*

docker-compose.override.yml
volumedb/

logs/*.log
/celerybeat-schedule

media/*

# dependencies
/node_modules

# testing
/coverage

# production
/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


nginx/cerbot

assets/*

webpack-stats.dev.json
