**/__pycache__/
.idea/
*.egg-info
*.pot
*.py[co]
.tox/
*.swp
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
tests/report/
.directory
**/CACHE/
**/media

.vscode/

**/migrations/00*

*.old

docker-compose.override.yml
volumedb/

logs/*.log
celerybeat-schedule

media/*

# testing
/coverage

.env
